--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.11.0+cpu
torchvision==0.26.0+cpu
torchaudio==2.11.0+cpu
torchmetrics[audio]==1.9.0
torchcodec
numpy==1.26.4
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
ipykernel
librosa
requests

black
isort
pre-commit
